<div class="account">
  <div class="inner">
    <% if @user %>
      <h2><%= @user.display_name %></h2>
      <h3><%= @user.email %></h3>

      <p><a href="#" class="refresh" data-uid="<%= @user.dropbox_uid %>">Refresh</a></p><br><br>

      <% @data.each do |collection| %>
        <h3><%= collection["collection"]["dropbox_path"] %></h3>
        <% collection["items"].each do |item| %>
          <p><%= item.inspect %></p>
          <img src="<%= item.image.url(:large) %>">
        <% end %>
      <% end %>
    <% else %>
      <h2>Please login!</h2>
    <% end %>
  </div>
</div>